/* Estilos generales */
.footerContainer{
    background-image: url("../../assets/images/footerIMg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh;
    position: relative;
    padding: 0;
}
.footer {
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
}  
.footerColumsContainer{
    padding: 0;
    width: 100%;
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
}
.footer-column {
    flex: 1; /* Cada columna toma el mismo espacio */
    min-width: 200px; /* Asegura un ancho mínimo para cada columna */
}
.footer-column h3 {
    margin-bottom: 10px;
    margin-top: 0;
    color: cyan; /* Color de los títulos */
    font-size: 1.8rem;
}  
.footer-column ul {
    list-style: none;
    padding: 0;
}  
.footer-column ul li {
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.colum1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.colum1 h3 span{
    color:#fff;
}
.colum2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.colum3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-icons {
    display: flex;
    gap: 15px; /* Espaciado entre los iconos */
    margin-top: 10px;
}  
.social-icon {
    color: white;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}  
.social-icon:hover {
    color: cyan; /* Cambia de color al pasar el mouse */
}
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .footerContainer {
      flex-direction: column; /* Cambia las columnas a filas */
      height: 70vh;
    }
    .footerColumsContainer{
        flex-direction: column;
    }
    .colum1 , .colum2 , .colum3{
        text-align: center;
    }
  }
  